.shareMenu {
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(-10px);
}

.shareMenu.open {
    opacity: 1;
    transform: translateY(0);
}

.bigText {
    font-size: 10rem;
}