@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(from 180deg at 50% 50%,
      var(--tw-gradient-stops));

  --animate-slide-up: slideUp 0.3s ease-out;

  @keyframes slideUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }
}

@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

.fontAmiri {
  font-family: "Amiri", serif;
}

.fontCabin {
  font-family: "Cabin Condensed", sans-serif;
}

[dir="rtl"] .dynamic-font {
  font-family: "Amiri", serif;
}

[dir="ltr"] .dynamic-font {
  font-family: "Cabin Condensed", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #fff5e4;
}

::-webkit-scrollbar-thumb {
  background-color: #0d9488;
  border-radius: 10px;
  border: 2px solid #fff5e4;
}

::-webkit-scrollbar-thumb:hover {
  background: #0e7b72;
}

:root.dark ::-webkit-scrollbar-track,
html.dark ::-webkit-scrollbar-track,
.dark ::-webkit-scrollbar-track {
  background: #0f172a;
}

:root.dark ::-webkit-scrollbar-thumb,
html.dark ::-webkit-scrollbar-thumb,
.dark ::-webkit-scrollbar-thumb {
  background-color: #14b8a6;
  border-radius: 10px;
  border: 2px solid #0f172a;
}

:root.dark ::-webkit-scrollbar-thumb:hover,
html.dark ::-webkit-scrollbar-thumb:hover,
.dark ::-webkit-scrollbar-thumb:hover {
  background: #12b7a9;
}